body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0.5em;
}

.pub {
  width: 300px;
  height: 600px;
  clip-path: inset(0px);
}

.pub > div {
  width: 300px;
  height: 600px;
  position: absolute;
}

.page1 {
  background-color: rgb(86, 218, 218);
}

.page1 h1 {
  left: -300px;

  position: relative;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: fromLeft;
}

.page1 h1:nth-child(2) {
  animation-delay: 1s;
}

.page2 img {
  position: absolute;
  bottom: 10px;
}

.page2 {
  background-color: rgb(218, 187, 86);
  z-index: 2;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: slideup;
}

@keyframes slideup {
  0% {
    top: 600px;
  }
  30% {
    top: 600px;
  }
  35% {
    top: 0px;
  }
  60% {
    left: 0px;
  }
  65% {
    left: -300px;
  }
  100% {
    left: -300px;
  }
}

.page3 {
  background-color: rgb(220, 255, 196);
  z-index: -1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-name: zorder;
}

.page3 img {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

@keyframes zorder {
  0% {
    z-index: -1;
  }
  49% {
    z-index: -1;
  }
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes fromLeft {
  0% {
    left: -300px;
  }
  2% {
    left: 10px;
  }

  4% {
    left: -5px;
  }

  5% {
    left: 0px;
  }

  80% {
    left: 0px;
  }
  81% {
    left: -300px;
  }
  100% {
    left: -300px;
  }
}
